<%- include('_head'); %>
<%- include('_header'); %>


<section id="header">
<h1>Devices</h1>
</section>



    <table id="devicetable">

    </table>

    <section id="customize">
        
    </section>
    
 

<script src="<%= script %>"></script>
