<%- include('_head'); %>
<%- include('_header'); %>

<h1>Home</h1>



<section>
    <h1>Registerd devices:</h1>
    <div>
        <p>UUID</p>
        <p>device name</p>
        <p>type</p>
    </div>

    <div>
        <p>UUID</p>
        <p>device name</p>
        <p>type</p>
    </div>
</section>